@model Account
@{
    Layout = "_PortalLayout";
    ViewData["Title"] = @Model.Name;
}

<link rel="stylesheet" href="~/css/MoneyAccountsDetailsView.css" asp-append-version="true" />

<div>
    <h1>Account Details</h1>
</div>