@model Account
@{
    Layout = "_PortalLayout";
    ViewData["Title"] = @Model.Name;
}

<link rel="stylesheet" href="~/css/MoneyAccountsDetailsView.css" asp-append-version="true" />

<div class="details-container">
    <div class="details-container__buttons">
        <button>Edit Account</button>
        <button>Delete Account</button>
    </div>

    <div class="details-container__sumBalance">Current Balance</div>
    <div class="details-container__sumSpending">Monthly Spending</div>
    <div class="details-container__sumDeposits">Monthly Deposits</div>
    <div class="details-container__transactionsCount">Monthly Transactions</div>

    <div class="details-container__addTransactionForm">Add Transaction Form</div>
    <div class="details-container__transactionsTable">Transactions</div>
</div>