@using MoneyPortalMain.DTOs
@model List<AccountDto>

<link rel="stylesheet" href="~/css/PortalSidebar.css" asp-append-version="true" />
    
<nav class="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar__header">
        <img class="sidebar__avatar" src="~/assets/images/avatar-blank.png" alt="">
        <h3 class="sidebar__displayname">Admin, Demo</h3>
    </div>

    <!-- Sidebar Navigation -->
    <span class="sidebar__section-title">Main</span>
    <ul>
        <li>
            <a asp-controller="Accounts" asp-action="Index" class="sidebar__item">
                <i class="fa-solid fa-house sidebar__icon"></i>Dashboard
            </a>
        </li>
    </ul>
    <span class="sidebar__section-title">Accounts</span>
    <ul>
        <li>
            <button class="sidebar__item sidebar__dropdown-trigger">
                <i class="fa-solid fa-building-columns sidebar__icon"></i>
                Bank Accounts
            </button>
            <ul class="sidebar__dropdown">
                @{
                    var bankAccounts = Model
                        .Where(x => x.Type == "Checking Account" || x.Type == "Savings Account")
                        .ToList();

                    @foreach (AccountDto account in bankAccounts)
                    {
                        <li>
                            <a href="/BankAccount/Details?id=@account.Id" class="sidebar__item sidebar__item--dropdown">
                                @if (account.Type == "Savings Account")
                                {
                                    <i class="fa-solid fa-piggy-bank sidebar__icon"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-money-bill-transfer sidebar__icon"></i>   
                                }
                                @account.Name
                            </a>
                        </li>
                    }
                }
                <li>
                    <button class="sidebar__item sidebar__item--dropdown">
                        <i class="fa-solid fa-plus sidebar__icon"></i> Add Bank Account
                    </button>
                </li>
            </ul>
        </li>
        <li>
            <button class="sidebar__item sidebar__dropdown-trigger">
                <i class="fa-solid fa-credit-card sidebar__icon"></i>
                Credit Cards
            </button>
            <ul class="sidebar__dropdown">
                @{
                    var creditCards = Model
                        .Where(x => x.Type == "Credit Card")
                        .ToList();

                    @foreach (AccountDto account in creditCards)
                    {
                        <li>
                            <a href="/CreditCard/Details?id=@account.Id" class="sidebar__item sidebar__item--dropdown">
                                <i class="fa-solid fa-credit-card sidebar__icon"></i> 
                                @account.Name
                            </a>
                        </li>
                    }
                }
                <li>
                    <button class="sidebar__item sidebar__item--dropdown">
                        <i class="fa-solid fa-plus sidebar__icon"></i> Add Credit Card
                    </button>
                </li>
            </ul>
        </li>
        <li>
            <button class="sidebar__item sidebar__dropdown-trigger">
                <i class="fa-solid fa-money-bill-1-wave sidebar__icon"></i>
                Cash
            </button>
            <ul class="sidebar__dropdown">
                @{
                    var cashReserves = Model
                        .Where(x => x.Type == "Cash")
                        .ToList();

                    @foreach (AccountDto account in cashReserves)
                    {
                        <li>
                            <a href="/Cash/Details?id=@account.Id" class="sidebar__item sidebar__item--dropdown">
                                <i class="fa-solid fa-coins sidebar__icon"></i>
                                @account.Name
                            </a>
                        </li>
                    }
                }
                <li>
                    <button class="sidebar__item sidebar__item--dropdown">
                        <i class="fa-solid fa-plus sidebar__icon"></i> Add Cash Reserve
                    </button>
                </li>
            </ul>
        </li>
    </ul>
    <span class="sidebar__section-title">Settings</span>
    <ul>
        <li>
            <a href="#" class="sidebar__item">
                <i class="fa-solid fa-user-tag sidebar__icon"></i>User
            </a>
        </li>
    </ul>
    <span class="sidebar__section-title">Logout</span>
    <ul>
        <li>
            <a asp-controller="Account" asp-action="Logout" class="sidebar__item">
                <i class="fa-solid fa-right-from-bracket sidebar__icon"></i>Logout
            </a>
        </li>
    </ul>
</nav>

<script src="~/js/PortalSidebar.js" asp-append-version="true"></script>