/* -------- SIDEBAR -------- */
.sidebar {
    color: #6a6c70;
    border-right: 1px solid var(--border-grey);
    width: 280px;
}

/* -------- SIDEBAR HEADER -------- */

.sidebar__header {
    box-sizing: border-box;
    padding: 25px 20px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.sidebar__avatar {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 15px;
    overflow: hidden;
    background: none;
    padding: 4px;
    border: 3px solid var(--primary-green);
}

.sidebar__displayname {
    color: #8a8d93;
    margin: 0;
    font-size: 1.1rem;
}

/* -------- SIDEBAR ITEMS -------- */

.sidebar__section-title {
    font-weight: 700;
    margin-left: 20px;
    color: #494d53;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.sidebar__item {
    box-sizing: border-box;
    padding: 20px 20px;
    border: 0;
    width: 100% !important;
    background: none;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    text-align: left;
    display: block;
    cursor: pointer;
}

.sidebar__item--dropdown {
    padding: 1rem;
    padding-left: 2rem;
}

.sidebar__item:hover {
    background-color: #282b2f;
}

.sidebar__item--dropdown:hover {
    background-color: #282b2f;
}

.sidebar__icon {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #454649;
    transition: all 0.3s;
    font-size: 1.2rem;
    width: 1.2rem;
}

.sidebar__item:hover .sidebar__icon {
    color: var(--primary-green);
    opacity: 0.95;
}

/* -------- SIDEBAR DROPDOWN -------- */

.sidebar__dropdown {
    background-color: var(--background-dark);
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.sidebar__dropdown-trigger::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106";
    margin-left: 1.2rem;
}

.sidebar__dropdown-trigger--open::after {
    content: "\f107" !important;
}

/* -------- HAMBURGER MENU -------- */

.sidebar__trigger {
    display: none;
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 2rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.sidebar__burger {
    position: absolute;
    right: 0;
    top: 6px;
    width: 28px;
    height: 3px;
    background: var(--primary-text-color);
    transition: all 0.5s ease-in-out;
}

.sidebar__burger::before {
    content: '';
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background: var(--primary-text-color);
    transition: all 0.5s ease-in-out;
}

.sidebar__burger::after {
    content: '';
    position: absolute;
    top: 8px;
    width: 20px;
    height: 3px;
    background: var(--primary-text-color);
    transition: all 0.5s ease-in-out;
}

.sidebar__burger.open {
    transform: rotate(360deg);
    background: transparent;
}

.sidebar__burger.open::before {
    transform: rotate(45deg) translate(5px, 8px);
}

.sidebar__burger.open::after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
}

/* -------- SIDEBAR RESPONSIVE - SHRINK -------- */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .sidebar {
        width: 80px;
    }

    .sidebar__header {
        padding: 20px 0;
        justify-content: center;
    }

    .sidebar__avatar {
        margin-right: 0;
    }

    .sidebar__displayname {
        display: none;
    }

    .sidebar__section-title {
        margin-left: 0;
        font-size: 1rem;
        text-align: center;
        display: block;
    }

    .sidebar__item {
        padding: 14px 5px;
        text-align: center;
        font-size: 0.8rem;
        word-break: break-word;
    }

    .sidebar__icon {
        padding-right: 0;
        border-right: none;
        text-align: center;
        width: 100%;
        border: none;
        padding: 0;
        margin-bottom: 5px;
    }

    .sidebar__dropdown-trigger::after {
        font-family: none;
        content: none;
        margin-left: 0;
    }

    .sidebar__dropdown-trigger--open::after {
        content: none;
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .sidebar {
        position: absolute;
        transform: translateX(-100%);
        top: 0;
        width: 250px;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .sidebar__header {
        padding: 20px;
        width: 83%;
    }

    .sidebar__trigger {
        display: block;
    }
}