
html, body {
    /* Variables */
    --headerheight: 80px;
}

/* -------- CONTAINERS -------- */

.portal-container {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: calc(100vh - var(--headerheight));
}

.portal-content {
    display: grid;
    grid-template-rows: auto 1fr;
}

/* -------- HEADER -------- */
.portal-header {
    border: 1px solid var(--background-light);
    height: var(--headerheight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8a8d93;
    border-bottom: 1px solid var(--border-grey);
}

.portal-header__logo {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-left: 30px;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: #8a8d93;
    text-transform: uppercase;
}

.portal-header__logo--green {
    color: var(--primary-green);
}

.sidebar__trigger {
    display: none;
}


/* -------- SIDEBAR RESPONSIVE - SHRINK -------- */

@media only screen and (max-width: 768px) {
    .portal-container {
        grid-template-columns: 1fr;
    }

    .sidebar__trigger {
        display: block;
    }
}

/* -------- HAMBURGER MENU -------- */

.sidebar__trigger {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 2rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.sidebar__burger {
    position: absolute;
    right: 0;
    top: 6px;
    width: 28px;
    height: 3px;
    background: var(--primary-text-color);
    transition: all 0.5s ease-in-out;
}

.sidebar__burger::before {
    content: '';
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background: var(--primary-text-color);
    transition: all 0.5s ease-in-out;
}

.sidebar__burger::after {
    content: '';
    position: absolute;
    top: 8px;
    width: 20px;
    height: 3px;
    background: var(--primary-text-color);
    transition: all 0.5s ease-in-out;
}

.sidebar__burger.open {
    transform: rotate(360deg);
    background: transparent;
}

.sidebar__burger.open::before {
    transform: rotate(45deg) translate(5px, 8px);
}

.sidebar__burger.open::after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
}


/* -------- PAGE TITLE -------- */

.portal-content__title-container {
    color: #8a8d93;
    border-bottom: 1px solid var(--border-grey);
    margin-bottom: 30px;
    padding: 20px 15px;
}

.portal-content__title {
    margin: 0;
    padding-left: 15px;
    font-size: 1.2rem;
}
