html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/* --------- VARIABLES --------- */

:root {
    --primary-green: #3d8542;
    --primary-red: #ff3f3f;
    --background-dark: #22252a;
    --background-light: #2d3035;
}
