<link rel="stylesheet" href="~/css/AddAccountForm.css" asp-append-version="true" />

<div class="addAccountPopup">
    <form>
        <h2>Add New Account Form</h2>
    </form>
</div>

<script src="~/js/AddAccountForm.js"></script>