<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Money Portal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PortalLayout.css" asp-append-version="true" />
</head>
<body>
    <div class="grid-container">
        <header>
            <a href="#!">
                <strong>Money</strong>
                <strong>Portal</strong>
            </a>
            <div class="menu-btn sidebar__trigger">
                <span class="menu-btn__burger sidebar__burger"></span>
            </div>
        </header>
        <div class="container">
            @(await Component.InvokeAsync("PortalSidebar")) 
            <main>
                <div class="page-header">
                    <h2>@ViewData["Title"]</h2>
                </div>
                <div>
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="~/js/PortalLayout.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
