<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Money Portal</title>
    <script src="https://kit.fontawesome.com/b7e26214dd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PortalLayout.css" asp-append-version="true" />
</head>
<body>
    <div class="grid-container">
        <header>
            <a href="#!">
                <strong>Money</strong>
                <strong>Portal</strong>
            </a>
            <div class="menu-btn">
                <span class="menu-btn__burger"></span>
            </div>
        </header>
        <div class="container">
            <nav>
                <!-- User Header -->
                <a href="#" class="sidebar__userProfile">
                    <div class="sidebar__header">
                        <div class="sidebar__header--avatar">
                            <img src="~/assets/images/avatar-blank.png" alt="">
                        </div>
                        <div class="sidebar__header--title">
                            <h3>Admin, Demo</h3>
                            <p>Admin</p>
                        </div>
                    </div>
                </a>
                <!-- Sidebar Navigation -->
                <span class="sidebar__heading">Main</span>
                <ul class="sidebar__list">
                    <li class="sidebar__list--item">
                        <a href="#">
                            <i class="fas fa-lg fa-home"></i>Dashboard
                        </a>
                    </li>
                    <li class="sidebar__list--item">
                        <a href="#">
                            <i class="fas fa-lg fa-project-diagram"></i>Projects
                        </a>
                    </li>
                    <li class="sidebar__list--item">
                        <a href="#">
                            <i class="fas fa-lg fa-tasks"></i>Tickets
                        </a>
                    </li>
                </ul>
                <span class="sidebar__heading">Admin</span>
                <ul class="sidebar__list">
                    <li class="sidebar__list--item">
                        <a href="#">
                            <i class="fas fa-lg fa-user-tag"></i>Roles
                        </a>
                    </li>
                </ul>
                <span class="sidebar__heading">Logout</span>
                <ul class="sidebar__list">
                    <li class="sidebar__list--item">
                        <a href="#">
                            <i class="fas fa-lg fa-sign-out-alt"></i>Logout
                        </a>
                    </li>
                </ul>
            </nav>
            <main>
                <div class="page-header">
                    <h2>@ViewData["Title"]</h2>
                </div>
                <div>
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="~/js/PortalLayout.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
