@{
    Layout = "_LoginLayout";
}

<h1>Login Page</h1>
<form method="POST" action="Login">
    <input name="Email" type="email" value="bob@test.com"/>
    <br />
    <input name="Password" type="password" value="Pa$$w0rd!"/>
    <br />
    <button type="submit">Log in</button>
</form>

